@font-face {
  font-family: OstrichSans;
  src: url("../fonts/OstrichSans-Bold.otf");
}

@font-face {
  src: url("../fonts/Chunkfive-webfont.woff");
  font-family: Chunkfive;
}

body {
  background-image: url(../images/bg.jpg);
}

#main_topic {
  text-align: center;
  color: white;
  font-family: OstrichSans;
  font-size: 3.2em;
  text-align: center;
  font-size: 60px;
  vertical-align: middle;
  margin: 20px 0;
}

#sub_topic {
  text-align: center;
  color: white;
  font-family: Chunkfive;
  height: -36px;
  text-align: center;
  font-size: 15px;
  margin: 15px 0;
}

hr {
  border: none;
  color: red;
  background-color: red;
  height: 2px;
}

#div {
  text-align: center;
  border: 3px dotted antiquewhite;
  background: black;
  border-radius: 5%;
  height: 20%;
}

#div1 {
  color: white;
  /* Цвет фона */
  width: 17%;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  border-right: 1px solid white;
}

#div2 {
  color: white;
  /* Цвет фона */
  width: 220px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  border-right: 1px solid white;
  padding-right: 20px;
  ;
}

#div3 {
  color: white;
  /* Цвет фона */
  width: 250px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  border-right: 1px solid white;
}

#div4 {
  color: antiquewhite;
  text-align: center;
  color: white;
  /* Цвет фона */
  width: 15%;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
}

.span {
  background: red;
}

.p2 {
  text-align: center;
  color: white
}

.p3 {
  color: white;
}

img {
  border: 3px solid grey;
}

#div5 {
  color: antiquewhite;
  text-align: center;
  color: white;
  /* Цвет фона */
  width: 250px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: left;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  margin: 0 auto%;
  margin-right: 100px
}

#div6 {
  color: antiquewhite;
  text-align: center;
  color: white;
  /* Цвет фона */
  width: 250px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  margin: 1%;
}

#div7 {
  color: antiquewhite;
  text-align: center;
  color: white;
  /* Цвет фона */
  width: 250px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: right;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  margin: 3%;
}