@font-face {
  font-family: OstrichSans;
  src: url("../fonts/OstrichSans-Bold.otf");
}

@font-face {
  font-family: Chunkfive;
  src: url("../fonts/Chunkfive-webfont.woff");
}

.te {
  color: white;
  font-family: Chunkfive;
  font-size: 20px;
  text-align: center;
}

body {
  background-image: url(../images/bg.jpg);
  margin: 0 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

#main_topic {
  text-align: center;
  color: white;
  font-family: OstrichSans;
  font-size: 3.2em;
  text-align: center;
  font-size: 80px;
  vertical-align: middle;
  margin: 20px 0;
}

#sub_topic {
  text-align: center;
  color: white;
  font-family: Chunkfive;
  height: -45px;
  text-align: center;
  font-size: 22px;
  margin: 0px 0;
}

.red {
  border: none;
  /* Убираем границу для браузера Firefox */
  color: red;
  /* Цвет линии для остальных браузеров */
  background-color: red;
  /* Цвет линии для браузера Firefox и Opera */
  height: 2px;
  /* Толщина линии */
}

.topic {
  font-family: Chunkfive;
  font-weight: 500;
  font-size: 20px;
}

.text_for_hr {
  border: none;
  color: red;
  background-color: red;
  height: 2px;
}

.hr {
  border-bottom: 0px solid darkgrey;
  width: 110px;
}

.line_bottom {
  border-bottom: 1px solid white;
}

#div {
  text-align: center;
  border: 3px dotted antiquewhite;
  background: black;
  border-radius: 15px;
  height: 20%;
  margin-left: 50px;
  margin-right: 70px;
  height: 94px;
}

#div1 {
  color: white;
  /* Цвет фона */
  width: 240px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  border-right: 1px solid white;
  padding-right: 20px;
}

#div2 {
  color: white;
  /* Цвет фона */
  width: 220px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  border-right: 1px solid white;
  padding-right: 20px;
}

#div3 {
  color: white;
  /* Цвет фона */
  width: 250px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  border-right: 1px solid white;
}

#div4 {
  color: antiquewhite;
  text-align: center;
  color: white;
  /* Цвет фона */
  width: 250px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
}

.span {
  background: red;
}

.p2 {
  text-align: center;
  color: white;
  font-size: 20px;
}

.p3 {
  color: white;
}

img {
  border: 3px solid grey;
}

#div5 {
  border-right: 1px solid red;
  color: antiquewhite;
  text-align: center;
  color: white;
  /* Цвет фона */
  width: 400px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: left;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  margin: 0 auto;
  vertical-align: top;
  padding-left: 50px;
  padding-right: 1px;
  text-align: center;
}

#div6 {
  color: antiquewhite;
  text-align: center;
  color: white;
  /* Цвет фона */
  width: 390px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: left;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  margin: 0 auto;
  vertical-align: top;
  padding-left: 1px;
  padding-right: 1px;
  border-right: 1px solid red;
}

#div7 {
  color: antiquewhite;
  text-align: center;
  color: white;
  /* Цвет фона */
  width: 400px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: left;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
  margin: 0 auto;
  vertical-align: top;
  padding-left: 1px;
  padding-right: 1px;
}

  {
  cursor: pointer;
  color: grey;
  text-decoration: none;
}

.img1 {
  width: 350px;
}

.img2 {
  width: 350px;
  height: 200px;
}

#bar {
  color: white;
  float: left;
  border: 2px dotted white;
  background-color: black;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.class3 {
  float: left;
}

#barselonafm {
  float: right;
}

#sportfm {
  text-align: center;
  font-size: 30px;
  margin-left: 300px;
}

#sportfm2 {
  color: white;
  font-family: Chunkfive;
}

#sportfm3 {
  color: red;
  font-family: Chunkfive;
}

.silk {
  color: grey;
  text-decoration: none;
  width: 350px;
  text-align: left;
  margin-left: 10px;
}

#text_foter {
  position: relative;
  text-align: center;
  border: none;
  padding-bottom: none;
  margin-bottom: none;
}

#text_foter2 {
  font-size: 50px;
  color: red;
  position: absolute;
  top: 305%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Chunkfive;
  text-align: center;
  text-overflow: inherit;
  padding-bottom: 0;
  margin-bottom: 0;
}

#foter_img {
  border: none;
  padding-right: none;
  padding-left: none;
  width: 100%;
  padding-bottom: none;
  background-clip: border-box;
  padding-bottom: 0;
  margin-bottom: 0;
}

.icon {
  display: inline-block;
  height: 45px;
  width: 50px;
  border: 1px solid white;
  border-radius: 15%;
  background: url("../images/social.jpg");
  text-align: center;
  margin: 5px;
  border: 1px solid grey
}

.icon:hover {
  box-shadow: 0 0 5px 2px red;
}

.icon.icon-car {
  background-position: 0 47px;
  margin-left: 35%;
}

.icon.icon-car:hover {
  background-position: 0 0;
}

.icon.icon-check {
  background-position: 340px 47px;
}

.icon.icon-check:hover {
  background-position: 340px 0;
}

.icon.icon-cart {
  background-position: 290px 47px;
}

.icon.icon-cart:hover {
  background-position: 290px 0;
}

.icon.icon-comments {
  background-position: 146px 47px;
}

.icon.icon-comments:hover {
  background-position: 146px 0px;
}

.icon.icon-fasebok {
  background-position: 194px 47px;
}

.icon.icon-fasebok:hover {
  background-position: 194px 0;
}