@font-face {
  font-family: OstrichSans;
  src: url("../fonts/OstrichSans-Bold.otf");
}

@font-face {
  src: url("../fonts/Chunkfive-webfont.woff");
  font-family: Chunkfive;
}

body {
  background-image: url(../images/bg.jpg);
}

#main_topic {
  text-align: center;
  color: white;
  font-family: OstrichSans;
  font-size: 3.2em;
  text-align: center;
  font-size: 60px;
  vertical-align: middle;
  margin: 20px 0;
}

#sub_topic {
  text-align: center;
  color: white;
  font-family: Chunkfive;
  height: -36px;
  text-align: center;
  font-size: 15px;
  margin: 15px 0;
}

hr {
  border: none;
  color: red;
  background-color: red;
  height: 2px;
}

#div {
  text-align: center;
}

#div1 {
  color: white;
  /* Цвет фона */
  width: 150px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
}

#div2 {
  color: white;
  /* Цвет фона */
  width: 150px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
}

#div3 {
  color: white;
  /* Цвет фона */
  width: 150px;
  /* Ширина */
  margin: 0 10px 10px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: center;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
}

#div4 {
  color: white;
  /* Цвет фона */
  width: 150px;
  /* Ширина */
  margin: 0 2px 2px 0;
  /* Отступы */
  padding: 10px 0;
  /* Поля сверху и снизу */
  text-align: right;
  /* Выравнивание по центру */
  display: inline-block;
  /* Строчно-блочный элемент */
}